<h1>APP-COMPONENT MAIN</h1>

<app-user-view></app-user-view>
<app-day-trading-view></app-day-trading-view>
<!--
  <app-historical-data-view></app-historical-data-view>



<p>This component demonstrates fetching data from the server.</p>


<label for="Stonkz">Choose a Stonk: </label>
<select name="Stonkz" id="Stonkz" (change)="updateSelectedStonk($event)">
  @for(stonk of stonkz; track stonk.stonkId) {
  <option value="{{stonk.stonkId}}">{{stonk.stonkName}}</option>
  }

</select>


<input type="date"  (input)="changeDate($event)" />


<h1>SELECTED STONK: {{getStonkByID(selectedStonk()).stonkName}}</h1>
<h3>SELECTED DATE: {{gameDay() | date:'shortDate'}}</h3>


<h6>GameDay Signal Value:  {{gameDay()}}</h6>


<table *ngIf="stonkData">
  <thead>
    <tr>
      <th>Date</th>
      <th>Price</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Volume</th>
      <th>ChangePercentage</th>
      <th>StockId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stonk of stonkData">
      <td>{{stonk.date | date:'shortDate'}}</td>
      <td>{{stonk.price}} €</td>
      <td>{{stonk.open}} €</td>
      <td>{{stonk.high}} €</td>
      <td>{{stonk.low}} €</td>
      <td>{{stonk.volume}} </td>
      <td>{{stonk.changePercentage}} %</td>
      <td>{{stonk.stonkId}}</td>
    </tr>
  </tbody>
</table>
  -->
