/* You can add global styles to this file, and also import other style files */




body {
    background-color: black;
    color: white;
}

.Graph{
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.tableContainer {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-content: center;

}

.tableContainer table {
    background-color: black;
    color: white;
}

  .tableContainer table, th {
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
  }


  .tableContainer tr:nth-child(even) {
      background-color: #191919;
  }

  .tableContainer td > * {
      padding: 0px 5px 0px 5px;
  }

  .textRight {
      text-align: right;
      padding-right: 12px;
  }

  .textPrice {
      text-align: right;
      padding-right: 12px;
  }

.gray {
  text-align: right;
  color: gray;
  padding-left: 10px;
  padding-right: 10px;
}

  .green {
      color: green;
  }

  .red {
      color: red;
  }

  .tableContainer a:link, a:visited {
      text-decoration: none;
      color: #00ffcd;
  }

.tableContainer a:hover {
  color: yellow;
}

.filters {
    display: box;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.apexcharts-tooltip {
  background: #323232 !important;
  color: #00ffcd;
}

.apexcharts-tooltip-title {
  background-color: #323232 !important;
  color: #00ffcd;
}


